<div class="col-md-12">
  <div class="group">
    <%= link_to("New WorkingList", new_working_list_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Date</td>
        <td>Department</td>
        <td>Colleague</td>
        <td>Title</td>
        <td>is_plan</td>
        <td>Take Time</td>
        <td>Descrption</td>
        <td>Progress</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "working_list_item", :collection => @working_lists, :as => :wl %>
    </tbody>
  </table>
</div>
